<!DOCTYPE html>
<html>

<head>
    <title>
        Product List
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="/assets/list.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body style="background-color:lightblue;opacity: 3;  background: #ffffff url('https://images.unsplash.com/photo-1527345931282-806d3b11967f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');background-attachment: fixed;background-size:cover;">
    <div id="compare">
        <form method="POST" action='/list'>
            <input type="number" placeholder="Product Id" name="p1">
            <input type="number" placeholder="Product Id" name="p2">
            <button class="btn btn-danger">
           Comapre
        </button>
        </form>
    </div>
    <div id="butn1">
        <form method="GET" action="/">
            <button class="btn btn-primary" type="submit">
               Home
        </button>
        </form>
    </div>
    <h1 id="head">
        Product List
    </h1>
    <div>
        <ul>
            <% for(var i=0;i<store.length ;i++){%>
                <h2 id="header<%=i+1%>">Product
                    <%=i+1%>
                </h2>
                <div id="item<%=i+1%>">
                    <li>
                        <p>Id ->
                            <%= store[i].Id %>
                        </p>
                    </li>
                    <li>
                        <p>Name ->
                            <%= store[i].Name %>
                        </p>
                    </li>
                    <li>
                        <p>Description ->
                            <%= store[i].Description %>
                        </p>
                    </li>
                    <li>
                        <p>Price ->
                            <%= store[i].Price %>
                        </p>
                    </li>
                    <li>
                        <p>Brand ->
                            <%= store[i].Brand %>
                        </p>
                    </li>
                </div>
                <% }%>

        </ul>
    </div>


    </script>
</body>

</html>